<header>
	<nav class="navbar navbar-expand-md navbar-light fixed-top">
		<div class="container-fluid">

			<!-- title -->
			<a class="navbar-brand" href="#"><i class="fas fa-mug-hot px-1 text-purple"></i>
				<span class="text-purple text-bolder">Dashboard</span>
			</a>

			<!-- sidebar toggle -->
			<button class="navbar-toggler btn btn-link border-0" type="button" id="sidebar" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- navbar navigation -->
			<div class="collapse navbar-collapse">

				<!-- breadcrumb -->
				<ul class="navbar-nav navbar-nav-breadcrumb">
					<li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">Translate</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>